flask
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters
langsmith7
sentence-transformers
pinecone
pinecone-plugin-interface
pinecone-client[grpc]
langchain-pinecone
requests
pypdf
gunicorn