flask==3.0.0
python-dotenv==1.0.0
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.37
langchain-openai==0.0.2
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langsmith==0.3.7
sentence-transformers==3.4.1
pinecone==6.0.1
pinecone-plugin-interface==0.0.7
pinecone-client[grpc]==3.0.1
langchain-pinecone==0.0.2
requests==2.31.0
pypdf==3.17.1
gunicorn==20.1.0